In [21]:
import pandas as pd 
import psycopg2

In [22]:
caminho_do_arquivo = r"/Users/valente/Desktop/scripts/01. Postgree/Origem de dados/V_OCORRENCIA_AMPLA.json"
df = pd.read_json(caminho_do_arquivo, encoding='utf-8-sig')

In [23]:
colunas = ['Numero_da_Ocorrencia', 'Classificacao_da_Ocorrência', 'Data_da_Ocorrencia', 'Municipio', 'UF', 'Regiao', 'Nome_do_Fabricante', 'Modelo']
df = df[colunas]
df = df.rename(columns={'Classificacao_da_Ocorrência': 'Classificacao_da_Ocorrencia'})

In [24]:
df.head(3)

,Numero_da_Ocorrencia,Classificacao_da_Ocorrencia,Data_da_Ocorrencia,Municipio,UF,Regiao,Nome_do_Fabricante,Modelo
0,7762,Incidente,2018-03-21,SÃO PAULO,SP,Sudeste,AGUSTA,AW109SP
1,7759,Acidente,2018-03-14,MONTES CLAROS,MG,Sudeste,CESSNA AIRCRAFT,A152
2,7758,Acidente,2018-01-26,INACIOLÂNDIA,GO,Centro-Oeste,CESSNA AIRCRAFT,T188C

In [25]:
dbname = 'python'
user = 'postgres'
password = 'senha123'
host = 'localhost'
port = '5432'

conexao = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)
cursor = conexao.cursor() 

cursor.execute('delete from public.anac_mapeamento')

for indice,coluna_df in df.iterrows():
    cursor.execute(""" insert into anac_mapeamento (     
                Id, 
                Classificacao_da_Ocorrencia, 
                Dt_Ocorrencia, 
                Municipio, 
                UF, 
                Regiao, 
                Fabricante,
                Modelo
            ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)
            """ , (
                coluna_df["Numero_da_Ocorrencia"],
                coluna_df["Classificacao_da_Ocorrencia"],
                coluna_df["Data_da_Ocorrencia"],
                coluna_df["Municipio"],
                coluna_df["UF"],
                coluna_df["Regiao"],
                coluna_df["Nome_do_Fabricante"],
                coluna_df["Modelo"],
            )

                   )

conexao.commit()
cursor.close()
conexao.close()